.form { 
	/*background-color: FireBrick;*/
 }

body {
    background-image: url("art3.jpg");
    /*background-position: bottom bottom*/ 
    /*color:white;*/
 }
 

#logo {							
float: right;
margin-right: 200px;
margin-bottom: 1000px;
width: 400px;
}

img:static/img/logo.png {
 	width: 1000px;
 	height: 150px;
 	top: 50px;
 	left: 100px;
}

 h3 {
 	font-family: Avantgarde;
 	text-align: left; 
 	color: white;
 }

h1 {
    color: white;
}
