<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/firstpage.css')}}">
<title>Login</title>
</head>



<body>
<form method="POST"  >
<h3 class="text"> Sign In <br>
<input class="form" type="text" name= "username" placeholder="Enter Your Username"> <br>
<input class="form" type="password" name="password" placeholder = "Enter Your Password"> <br>
<input class="form" type="submit" formaction="my_feed" value = "Sign in">

</form>

<form>
<input class="form2" type="submit" formaction="/" value="Back">
</form>







</body>


