<!DOCTYPE html>
<html>
<head>
	<title>My Feed</title>
</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>LOGO</h1>
				<a href="{{url_for('profile')}}">My Profile</a>
				<a href="{{url_for('my_feed')}}">My Feed</a>
				<a href="{{url_for('discover')}}">
				Discover</a>
				<a href="{{url_for('post')}}">Post</a>
				<a href="{{url_for('about_us')}}">About Us</a>
				<a href="{{url_for('logout')}}">Logout</a>
			</div>
			{{current_user.username}}
			<div id='feed'>
				{% for piece in pieces %}
					<div class="Piece">
						<div id='header'>
							<div class="piece_user">
								{{piece.user_id}}
							</div>
							<div class='title'>
								{{piece.title}}
							</div><!--Checking whether piece is text or image-->
							<div class='text'>
								{% if piece.text != None %}
									<p>{{piece.text}}</p>
								{% endif %}
							</div>
							<div class='img'>
								{% if piece.pic_url != None %}
									<img src="{{piece.pic_url}}">
								{%endif %}
							</div>
							<div class='description'>
								{{piece.description}}
							</div>
							<div class='likes'>
								{{piece.likes}}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>