<!DOCTYPE html>
<html>
<head>
	<title>My Feed</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>LOGO</h1><a href="{{%20url_for('profile',user_id=user.id)%20}}">My Profile</a> <a href="{{%20url_for('my_feed',user_id=user.id)%20}}">My Feed</a> <a href="{{%20url_for('discover',user_id=user.id)%20}}">Discover</a> <a href="{{%20url_for('about_us')%20}}">About Us</a>
		</div>
		<div id='feed'>
			{ % for piece in pieces % }
			<div class="Piece">
				<div id='header'>
					<div class="piece_user">
						{{piece.user_id}}
					</div>
					<div class='title'>
						{{piece.title}}
					</div><!--Checking whether piece is text or image-->
					<div class='text'>
						{% if piece.text != None %}
						<p>{{piece.text}}</p>{% endif %}
					</div>
					<div class='img'>
						{% if piece.pic_url != None %} <img src="{{piece.pic_url}}"> {%endif %}
						<div class='description'>
							{{piece.description}}
						</div>
						<div class='likes'>
							{{piece.likes}}
						</div>{ % endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>