<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/firstpage.css')}}">
	<title> Post a piece </title>
</head>


<body>
<div id = 'post_info'>
	<h1 class='text' >Want to Share your art? Follow these simple steps:</h1>
	<ol>
	<li class = 'smalltext'>Enter the title of your art</li>
	<li class = 'smalltext'>Add the URL for your picture</li>
	<li class = 'smalltext'>Write a description of your masterpiece!</li>
	</ol>
</div>

<form  action="{{url_for('post')}}" method="post">
	<input class='form' type="text" name="pic_url" placeholder="Enter URL"> <br>
	<input class='form' type="text" name="description" placeholder="Describe your piece"> <br>
	<input class='form' type="submit" name="post_submit">

</form>

</body>

</html>