<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/firstpage.css')}}">

<title> Sign Up/In </title>

</head>
<body>
<div id="sign-in">
<img id = 'logo' src= "static/img/logo.png" >
<h3 class='text'>Sign Up: </h3> 
<form >
<input class='form' type="text" name= "full_name" placeholder="Your Full Name"> <br>
<input class='form' type="text" name="username" placeholder = "Username"> <br>
<input class='form' type = "password" name = "password" placeholder="Password"> <br>
<h4 class='text'>Art that I like: </h4>
<input class='smalltext' type="checkbox" name="museum_literature_choice">Literature
<input class='smalltext' type="checkbox" name="museum_photography_choice">Photography
<input class='smalltext' type="checkbox" name="museum_painting_choice">Painting
<br>
<input class='form' type="submit" formaction="my_feed" value = "Sign up">

<br> <br> <br>
	<!-- <h1> Sign Up: </h3> <br>
		<input type="text" name= "full_name" placeholder="Your Full Name"> <br>
		<input type="text" name="username" placeholder = "Username"> <br>
		<input type = "password" name = "password" placeholder="Password"> <br>
	<h4> Art that I like: </h4> <br>
		<input type="checkbox" name="museum_choice"> Classical Music
		<input type="checkbox" name="museum_choice"> Photography
		<input type="checkbox" name="museum_choice"> Painting
		<input type="checkbox" name="museum_choice"> Pop Music
	<br> <br> <br> !-->
		
	<br>

</form>
</div>
<br> <br> <br>

<form>
Sign In: <br>
<input class='form' type="text" name= "username" placeholder="Enter Your Username"> <br>
<input class='form' type="password" name="password" placeholder = "Enter Your Password"> <br>
<input class='form' type="submit" formaction="my_feed" value = "Sign in">


</form>


</body>
</html>


