<!DOCTYPE html>
<html>
<head>

<title> Sign Up/In </title>

</head>
<body>

<form>
Sign Up: <br>
<input type="text" name= "full_name" placeholder="Your Name"> <br>
<input type="text" name="username" placeholder = "Username"> <br>
<input type = "password" name = "password" placeholder="Password"> <br>
<input type = "password" name = "password_confirmation" placeholder="Confirm Your Password"> <br>
Art that I like: <br>
<input type="checkbox" name="museum_choice"> Classical Music
<input type="checkbox" name="museum_choice"> Photography
<input type="checkbox" name="museum_choice"> Painting
<input type="checkbox" name="museum_choice"> Pop Music
<br> <br> <br>
<input type="checkbox" name="agree" checked> I agree to all terms of service
<br>
<input type="submit" value = "Sign up">

</form>

<br> <br> <br>

<form>
Sign In: <br>
<input type="text" name= "username" placeholder="Enter Your Username"> <br>
<input type="password" name="password" placeholder = "Enter Your Password"> <br>


</form>


</body>
</html>

