<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/firstpage.css')}}">

<title> Sign Up </title>

</head>
<body>
<h1 id='slogan' > Share your heart with <div id = 'myart'> MyArt </div></h1>
<div id="sign-in">
<!-- <img id = 'logo' src= "static/img/logo.png" > -->

<form>
<div class="container">
<h3 class='text'> Sign Up: </h3> 

<input class='form' type="text" name= "full_name" placeholder="Your Full Name"> <br>
<input class='form' type="text" name="username" placeholder = "Username"> <br>
<input class='form' type = "password" name = "password" placeholder="Password"> <br>
<input class='form' type="submit" formaction="my_feed" value = "Sign up">



<br> <br> <br>

</form>
</div>
</div>
<br> <br> <br>

<form>
<input class='button' type="submit" formaction="login" value = "Already have an account?">
</form>


</body>
</html>


